.container {
  overflow-x: auto;
}
.container.filter {
  top: -1.5rem;
}
table {
  margin-bottom: 0;
  font-size: 90%;
  background: transparent;
  color: #F5F5F5;
}
.table thead th {
  color: #F5F5F5;
}
.number,
.available_bike_stands,
.available_bikes,
.bike_stands {
  text-align: right;
  width: 4.5rem;
}
.number {
  width: 3.5rem;
}
.is-closed {
  text-decoration: line-through;
}
.level {
  position: relative;
  top: 1.5rem;
}
.address {
  font-size: 80%;
  vertical-align: middle;
}
