.container.stations {
  overflow-x: auto;
}
.container.filter {
  top: -1.5rem;
}
.filter .icon {
  pointer-events: auto;
}
table {
  margin-bottom: 0;
  font-size: 90%;
  background: transparent;
  color: #F5F5F5;
}
.table thead th {
  color: #F5F5F5;
}
.number,
.available_bike_stands,
.available_bikes,
.bike_stands {
  text-align: right;
  width: 4.2rem;
}
.number {
  width: 2.5rem;
  padding: 0 0.2rem 0 0 !important;
  vertical-align: middle;
}
.is-closed {
  text-decoration: line-through;
}
.level {
  position: relative;
  top: 1.5rem;
}
td.address {
  font-size: 80%;
  vertical-align: middle;
}
tr:hover {
  background: #292929;
}
