<div class="container">

  <div class="mapLoader" *ngIf="!stations && !error">
    <span class="icon">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </span>
    &nbsp;Chargement...
  </div>
  <div class="mapLoader" *ngIf="error" style="color: red; font-weight: bold">
    {{error}}
  </div>

</div>

<div class="container filter" *ngIf="stations">

  <p class="control">
      <span class="filter">
        <input type="text" class="input is-dark" placeholder="Rechercher une station" [(ngModel)]="urlFilter" (keyup)="changePage(1); updateDisplayedStations()"/>
      </span>
  </p>

</div>

<div class="container" *ngIf="stations">

  <table class="table is-narrow is-fullwidth" >
    <thead>
      <tr>
        <th class="number"  title="Numéro de la station">
          <a (click)="sortBy('number')">
            n°
            <span class="icon is-small">
              <i class="fa"
                [class.fa-sort-asc]="sortedByAscending.number && sortedByProperty == 'number'"
                [class.fa-sort-desc]="!sortedByAscending.number && sortedByProperty == 'number'"
                [class.fa-sort]="sortedByProperty != 'number'"
                aria-hidden="true"></i>
            </span>
          </a>
        </th>
        <th class="address" title="Adresse de la station">
          <a (click)="sortBy('address')">
            Adresse
            <span class="icon is-small">
              <i class="fa"
                [class.fa-sort-asc]="sortedByAscending.address && sortedByProperty == 'address'"
                [class.fa-sort-desc]="!sortedByAscending.address && sortedByProperty == 'address'"
                [class.fa-sort]="sortedByProperty != 'address'"
                aria-hidden="true"></i>
            </span>
          </a>
        </th>
        <th class="available_bikes" title="Nombre de vélos disponibles">
          <a (click)="sortBy('available_bikes')">
            Vélos
            <span class="icon is-small">
              <i class="fa"
                [class.fa-sort-asc]="sortedByAscending.available_bikes && sortedByProperty == 'available_bikes'"
                [class.fa-sort-desc]="!sortedByAscending.available_bikes && sortedByProperty == 'available_bikes'"
                [class.fa-sort]="sortedByProperty != 'available_bikes'"
                aria-hidden="true"></i>
            </span>
          </a>
        </th>
        <th class="available_bike_stands" title="Nombre d'emplacements' disponibles">
          <a (click)="sortBy('available_bike_stands')">
            Empl.
            <span class="icon is-small">
              <i class="fa"
                [class.fa-sort-asc]="sortedByAscending.available_bike_stands && sortedByProperty == 'available_bike_stands'"
                [class.fa-sort-desc]="!sortedByAscending.available_bike_stands && sortedByProperty == 'available_bike_stands'"
                [class.fa-sort]="sortedByProperty != 'available_bike_stands'"
                aria-hidden="true"></i>
            </span>
          </a>
        </th>
        <!-- <th class="bike_stands">
          <a (click)="sortBy('bike_stands')">
            Total
            <span class="icon is-small">
              <i class="fa"
                [class.fa-sort-asc]="sortedByAscending.bike_stands && sortedByProperty == 'bike_stands'"
                [class.fa-sort-desc]="!sortedByAscending.bike_stands && sortedByProperty == 'bike_stands'"
                [class.fa-sort]="sortedByProperty != 'bike_stands'"
                aria-hidden="true"></i>
            </span>
          </a>
        </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let station of displayedStations[currentPage - 1]" [class.is-closed]="station.status == 'CLOSED'">
        <td class="number">{{station.number}}</td>
        <td class="address" title="{{station.name}}">{{station.address}}</td>
        <td class="available_bikes" title="{{station.available_bikes}} vélo(s) disponible(s)">{{station.available_bikes}}</td>
        <td class="available_bike_stands" title="{{station.available_bike_stands}} emplacement(s) disponible(s)">{{station.available_bike_stands}}</td>
        <!-- <td class="bike_stands">{{station.bike_stands}}</td> -->
      </tr>
    </tbody>
  </table>

</div>

<nav class="level" *ngIf="displayedStations">
  <div class="level-left">
    <span>Page {{currentPage}}/{{displayedStations.length}}</span>
  </div>
  <div class="level-right">
    <a class="pagination-previous" (click)="previousPage()" [class.is-disabled]="isFirstPage()"><</a>
    <a class="pagination-next" (click)="nextPage()" [class.is-disabled]="isLastPage()">></a>
  </div>
  <!-- <ul class="pagination-list">
    <li *ngFor="let station of displayedStations; let i = index">
      <a class="pagination-link" [class.is-current]="currentPage == i + 1" (click)="changePage(i + 1)">{{i + 1}}</a>
    </li>
  </ul> -->
</nav>
