<section class="hero is-fullheight is-dark">
  <div class="hero-head">
    <app-nav></app-nav>

  </div>
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title">
          <span class="icon">
            <i class="fa fa-info"></i>
          </span>
          Informations générales
        </h1>
        <p>
          CycloLibre est une application libre développée par Thomas Gambet.
        </p>
        <p>
          L'application permet d'afficher une carte ou un tableau des stations
          de vélos, de visualiser rapidement l'encombrement ou la disponibilité
          d'une station en temps réel, d'effectuer une recherche, et de trouver une piste
          cyclable ou un itinéraire conseillé à vélo dans votre ville.
        </p>
        <p>
          Pour tout contact <a href="mailto://thomas.gambet@gmail.com">envoyez-moi un email</a>.
        </p>
        <h1 class="title">
          <span class="icon">
            <i class="fa fa-code-fork"></i>
          </span>
          Informations techniques
        </h1>
        <p>
          Cette application est une application Web monopage développée en
          utilisant le framework JavaScript <a href="https://angular.io/">Angular</a>
          et le framework CSS <a href="https://bulma.io/">Bulma</a>.
        </p>
        <p>
          Le code source est hebergé chez
          <a href="https://github.com/tgambet/sbt-cyclolibre">Github</a>
          et peux y être gratuitement consulté ou téléchargé.
        </p>
        <p>
          Si vous avez un compte Github vous pouvez <a href="https://github.com/tgambet/cyclolibre/issues">ouvrir un ticket</a> pour
          rapporter un bug ou proposer une amélioration, "forker" le code,
          ou encore soumettre une pull-request.
        </p>
        <p>
          La license d'utilisation de l'application est la <a href="https://opensource.org/licenses/mit-license">licence MIT</a>.
        </p>
      </div>
    </div>
  </div>
</section>
