agm-map, .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.overlay {
  color: white;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay .legend {
  background-color: rgba(0,0,0,0.7);
  border-radius: 2px;
  text-align: left;
  padding: 0.5rem;
  position: relative;
  max-height: 100%;
  max-width: 24rem;
  overflow-y: auto;
  font-size: 90%;
}
.legend h2 {
  font-weight: bold;
  margin: 0.5rem 0;
}
.legend .source {
  font-size: 80%;
  font-style: italic;
}

.controls {
  position: absolute;
  z-index: 5;
  top: 0.5rem;
  left: 0.5rem;
  margin: 0;
  width: calc(100% - 1rem);
  text-align: left;
}
.controls .field {
  margin-bottom: 0.5rem;
}
.location-input {
  max-width: 30rem;
}

.button.location {
  padding-left: 4px;
  padding-right: 4px;
}
.bike {
  padding-left: 4px;
  padding-right: 4px;
}
.bike img {
  vertical-align: middle;
}
.parking {

}

hr {
  margin: 0.3rem 0;
}
.l {
  border: 1px solid;
  display: inline-block;
  width: 12px;
  line-height: 0;
  vertical-align: middle;
}
.l.l1 {
  border-color: rgb(13,86,13);
}
.l.l2 {
  border-color: rgb(22,146,22);
}
.l.l3 {
  border-color: rgb(22,146,22);
  border-style: dashed;
}

.button.is-loading {
  width: 36px;
}

.delete {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}
