agm-map, .mapLoader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.hero-body {
  position: relative;
}
.mapLoader {
  color: white;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
