<div class="overlay loading" *ngIf="!stations && !error">
  <span class="icon">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </span>
  &nbsp;Chargement...
</div>
<div class="overlay map-error" *ngIf="error" style="color: red; font-weight: bold" (click)="error = ''">
  {{error}}.&nbsp;<a style="text-decoration: underline">OK</a>
</div>
<div class="overlay favorites-warning" *ngIf="showFavoritesOnly && filteredStations().length == 0" (click)="showFavoritesOnly = false">
  <div class="warning">
    <p>
      Aucune station n'est dans vos favoris. Appuyer sur l'icone en forme d'étoile
      <span class="icon">
        <i class="fa fa-star"></i>
      </span>
       à côté du nom d'une station pour la rajouter à vos favoris.</p>
    <a>Fermer</a>
  </div>
</div>
<div class="overlay information" *ngIf="showInfo && network && stations" (click)="showInfo = false">
  <div class="legend" *ngIf="true" (click)="$event.stopPropagation()">
    <a class="delete" (click)="showInfo = false">
      <span class="icon">
        <i class="fa fa-remove"></i>
      </span>
    </a>
    <h2>Informations</h2>
    <p>
      <b>{{network.name}}</b> comprend <b>{{stations.length}}</b> stations pour un total de <b>{{getTotalStands()}}</b> emplacements.
      Il y a actuellement <b>{{getAvailableBikes()}}</b> vélos disponibles pour <b>{{getAvailableBikeStands()}}</b> emplacements libres.
    </p>
    <!-- <p class="lastUpdated">Mis à jour: {{getLastUpdated()}}</p> -->
    <p class="operators">Opérateur<span *ngIf="network.company.length > 1">s</span>: {{network.company.join('')}}</p>
    <h2>Légende</h2>
    <p><span class="l l1"></span> Voie réservée aux vélos</p>
    <p><span class="l l2"></span> Rue avec piste cyclable</p>
    <p><span class="l l3"></span> Rue ou chemin recommandé aux vélos</p>
    <p class="source">Source: Google</p>
    <!-- <hr> -->
    <p><img alt="Station verte" src="/assets/icon-green.svg" width="12"> 50% ou plus <span *ngIf="typeLooked == 'bike'">de vélos</span><span *ngIf="typeLooked == 'stand'">d'emplacements</span> disponibles</p>
    <p><img alt="Station jaune" src="/assets/icon-yellow.svg" width="12"> Entre 25 et 50% <span *ngIf="typeLooked == 'bike'">de vélos</span><span *ngIf="typeLooked == 'stand'">d'emplacements</span> disponibles</p>
    <p><img alt="Station orange" src="/assets/icon-orange.svg" width="12"> Entre 0 et 25% <span *ngIf="typeLooked == 'bike'">de vélos</span><span *ngIf="typeLooked == 'stand'">d'emplacements</span> disponibles</p>
    <p><img alt="Station rouge" src="/assets/icon-red.svg" width="12"> Aucun <span *ngIf="typeLooked == 'bike'">vélo</span><span *ngIf="typeLooked == 'stand'">emplacement</span> disponible</p>
    <p><img alt="Station grise" src="/assets/icon-grey.svg" width="12"> Station fermée</p>
    <p class="source">Source: CityBikes</p>
  </div>
</div>



<div class="location-input field">
  <p class="control has-icons-right">
    <input placeholder="Recherchez une adresse" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="input is-dark" #search>
    <a class="icon is-right" *ngIf="search.value != ''" (click)="search.value = ''; searchPosition = null">
      <i class="fa fa-remove"></i>
    </a>
    <a class="icon is-right" *ngIf="search.value == ''">
      <i class="fa fa-search"></i>
    </a>
  </p>
</div>

<div class="controls controls-1" *ngIf="stations">

  <div class="field has-addons">
    <p class="control">
      <a class="button bike" (click)="typeLooked = 'bike'" [class.is-dark]="typeLooked == 'bike'" title="Afficher les vélos disponibles">
        <img *ngIf="typeLooked == 'bike'" src="assets/bike-white.svg" height="26" width="26" alt="Vélos" />
        <img *ngIf="typeLooked != 'bike'" src="assets/bike.svg" height="26" width="26" alt="Vélos" />
      </a>
    </p>
    <p class="control">
      <a class="button parking" (click)="typeLooked = 'stand'" [class.is-dark]="typeLooked == 'stand'" title="Afficher les emplacements disponibles">
        <b>P</b>
      </a>
    </p>
  </div>

</div>

<div class="controls controls-2" *ngIf="stations">

  <div class="field">
    <p>
      <a class="button" (click)="showInfo = true" [class.is-dark]="showInfo" title="Informations et légende">
        <span class="icon">
          <i class="fa fa-info"></i>
        </span>
      </a>
    </p>
  </div>

  <div class="field">
    <p>
      <a class="button location" (click)="toggleGeoLocalization()" [class.is-loading]="isGeolocalizing()" [class.is-dark]="isGeolocalized()" [title]="isGeolocalized() ? 'Ne plus traquer ma position' : 'Traquer ma position'" >
        <img alt="Géolocation" src="assets/location.svg" height="26" width="26" *ngIf="isGeolocalized()">
        <img alt="Géolocation non définie" src="assets/location-not-fixed.svg" height="26" width="26" *ngIf="isNotGeolocalized()">
      </a>
    </p>
  </div>

  <div class="field">
    <p>
      <a class="button icon favorite" (click)="showFavoritesOnly = !showFavoritesOnly" [class.is-dark]="showFavoritesOnly" [title]="showFavoritesOnly ? 'Afficher toutes les stations' : 'Afficher uniquement les stations favorites'">
        <i class="fa fa-star"></i>
      </a>
    </p>
  </div>

  <div class="field zoom zoom-plus">
    <p>
      <a class="button icon" (click)="zoom = zoom + 1" title="Zoom avant">
        <i class="fa fa-plus"></i>
      </a>
    </p>
  </div>

  <div class="field zoom zoom-minus">
    <p>
      <a class="button icon" (click)="zoom = zoom - 1" title="Zoom arrière">
        <i class="fa fa-minus"></i>
      </a>
    </p>
  </div>

</div>

<agm-map
    #gm
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [streetViewControl]=false
    [zoomControl]=false
    [styles]="mapStyles"
    [fitBounds]="mapBounds"
    (centerChange)="onCenterChange($event)"
    (zoomChange)="onZoomChange($event)"
    (mapReady)="onMapReady($event)">
  <agm-marker
      *ngFor="let s of filteredStations(); let i = index"
      (markerClick)="clickedStation(s, infoWindow)"
      [latitude]="s.latitude"
      [longitude]="s.longitude"
      [iconUrl]="icon(s)">
    <agm-info-window #infoWindow>
      <div style="text-align: left; color: black;">
        <!-- <strong>Station n°{{s.number}}</strong><br> -->
        <a class="icon favorite" (click)="toggleFavorite(s)" [class.is-favorite]="isFavorite(s)" [title]="isFavorite(s) ? 'Retirer des favoris' : 'Ajouter aux favoris'">
          <i class="fa fa-star"></i>
        </a>
        <strong>{{s.name}}</strong><br>
        <span *ngIf="s.extra && s.extra.address">{{s.extra.address}}<br></span>
        <span *ngIf="!isClosed(s)">
          Vélos disponibles: <strong>{{s.free_bikes}}</strong><br>
          Emplacements disponibles: <strong>{{s.empty_slots}}</strong><br>
        </span>
        <span *ngIf="isClosed(s)" style="color: red;">
          <strong>FERMÉE</strong>
        </span>
      </div>
    </agm-info-window>
  </agm-marker>
  <agm-marker
      *ngIf="userPosition"
      [latitude]="userPosition.latitude"
      [longitude]="userPosition.longitude"
      [zIndex]=10>
  </agm-marker>
  <agm-marker
      *ngIf="searchPosition"
      [latitude]="searchPosition.latitude"
      [longitude]="searchPosition.longitude"
      [zIndex]=10>
  </agm-marker>
</agm-map>
