.icon {
  pointer-events: auto !important;
}

.filter {
  margin-top: -0.5rem;
}

.filter .icon {
  color: #999 !important;
}

.filter .favicon {
  padding-left: 17px;
  padding-right: 17px;
  color: #363636 !important;
}
.filter .favicon.is-dark {
  color: white !important;
}

.stations {
  text-align: left;
}

.station {
  border-top: 1px solid grey;
  padding: 0.5rem 0;
}

.station {
  font-size: 85%;
}

.favorite {
  float: right;
}
.address {
  font-size: 75%;
}
.metadata img {
  vertical-align: bottom;
}

.info {
  display: inline-block;
  width: 1rem;
}
.free-bikes {
  margin-right: 0.5rem;
}
.closed {
  color: red;
}

.show-more {
  text-align: center;
}

.show-more a {
  text-decoration: underline;
}

.icon.favorite {
  color: #999 !important;
}

.icon.is-favorite {
  color: yellow !important;
}
