
<div *ngIf="!stations && !error">
  <span class="icon">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </span>
  &nbsp;Chargement...
</div>

<div *ngIf="error" style="color: red; font-weight: bold">
  {{error}}
</div>

<div class="filter">

  <p class="control has-icons-right" *ngIf="stations">
    <span class="filter">
      <input type="text" class="input is-dark" placeholder="Rechercher une station" [(ngModel)]="stationFilter"/>
      <a class="icon is-right" *ngIf="stationFilter != ''" (click)="stationFilter = ''">
        <i class="fa fa-remove"></i>
      </a>
    </span>
  </p>

</div>

<div class="stations">

  <div class="station" *ngFor="let station of filteredStations()">
    <a class="icon favorite" (click)="toggleFavorite(station)" [class.is-favorite]="isFavorite(station)" [title]="isFavorite(station) ? 'Retirer des favoris' : 'Ajouter aux favoris'">
      <i class="fa fa-star"></i>
    </a>
    <p class="name">{{station.name}}</p>
    <p class="address">{{station.extra?.address}}</p>
    <p class="metadata" *ngIf="!isClosed(station)">
      <img src="assets/bike-white.svg" height="20" width="20" />
      <span class="info free-bikes">
        {{station.free_bikes}}
      </span>

      <b>P</b>
      <span class="info empty-slots">
        {{station.empty_slots}}
      </span>
    </p>
    <p class="closed" *ngIf="isClosed(station)">
      FERMÉE
    </p>
  </div>

  <div class="show-more">
    <a (click)="showMore()">Montrer plus de stations</a>
  </div>

</div>
