<section class="hero is-fullheight is-dark">
  <div class="hero-head">
    <app-nav *ngIf="network" [networkName]="network.name" [networkCity]="network.location.city"></app-nav>
    <app-nav *ngIf="!network"></app-nav>
  </div>
  <div class="hero-body has-text-centered">

    <router-outlet></router-outlet>

  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li routerLink="./" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./">Carte</a></li>
          <li routerLink="./table" routerLinkActive="is-active"><a routerLink="./table">Tableau</a></li>
        </ul>
      </div>
    </nav>
  </div>

</section>
