
<section class="hero is-fullheight is-dark">
  <div class="hero-head">
    <app-nav></app-nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        CycloLibre
      </h1>
      <h2 class="subtitle">
        Les vélos en libre service
      </h2>

      <div class="field has-addons filter" *ngIf="networks">
        <p class="control has-icons-right is-expanded">
          <input placeholder="Recherchez une ville" [(ngModel)]="filter" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="input" title="Tapez le nom d'une ville ou d'un système de vélos en libre service">
          <a class="icon is-right" *ngIf="filter != ''" (click)="filter = ''">
            <i class="fa fa-remove"></i>
          </a>
          <a class="icon is-right" *ngIf="filter == ''">
            <i class="fa fa-search"></i>
          </a>
        </p>
        <div class="control">
          <a class="button location" (click)="geoLocalize()" title="Trouver la ville la plus proche de ma position">
            <img src="assets/location-black.svg" height="26" width="26">
          </a>
        </div>
      </div>

      <div *ngIf="networks && filter !=''" class="networks">
        <a *ngFor="let network of filteredNetworks(5); let i = index" class="network" [routerLink]="['/' + network.id]">
            {{network.location.city}}, {{network.name}}
        </a>
      </div>
      <div *ngIf="!networks && !error">
        <span class="icon">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </span>
        Chargement...
      </div>
      <div *ngIf="error" class="error">
        Une erreur est survenue ({{error}})<br>
        Réessayez plus tard
      </div>
    </div>
  </div>
</section>
